doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color" content="#000000")
    title Reverse Proxy Node with Nginx - FullCycle
  body
    header
      h1 #{title}
    main
      form(action="/people" method="post")
        label(for="name") Type the person's name: 
        input(data-json=`data: true` type="text" name="name" id="name")
        button(type="submit") Register